@font-face {
  font-family: 'Plus Jakarta Sans';
  src:url('/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf')format('truetype'),
      url('/assets/fonts/static/PlusJakartaSans-Bold.ttf')format('truetype'),
      url('/assets/fonts/static/PlusJakartaSans-Medium.ttf')format('truetype');
      
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove spinner from number input field */
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Chrome, Safari, Edge */
  margin: 0; /* Remove default margin */
}

